* {
    box-sizing: border-box;
}

html {
    
    scroll-behavior: smooth;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    animation: fadeIn 2s ease-in-out;

    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(31, 31, 31, 0.8) , rgb(30, 29, 29,0.8)),
                    url(./Image/everaldo-coelho-qYdUUZVWiVY-unsplash.jpg);
    min-height: 100vh;
    
    background-repeat: no-repeat;
    /* background-color: rgb(37, 37, 37); */
    color: rgba(255, 255, 255, 0.9);
    
}


a {
    text-decoration: none;
    color: black;
}

.firstRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing:border-box;
    border: solid transparent;
    margin-left: 15em;
    margin-right: 30em;
    margin-top: 0.5em;
}

.profile {
    border-radius: 10%;
    max-height: 13em;
    max-width: 12em;
    border: solid rgb(128, 106, 128, 0.4) 3px;
}

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;

}

.englobe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid rgb(230, 227, 227) 2px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(117, 117, 115, 0.7);
    border-radius: 3%;
    margin-left: 3em;
    
    }


#contact {
   
    font-size: 1.4rem;
    background-color: rgba(227, 216, 247);
    border-radius: 5%;
    box-sizing: border-box;
    margin-top: 0.5em;
    border: solid rgba(34, 33, 33, 0.8)  4px;
}

#toggle {
   
    
    font-size: 1.4rem;
    background-color: rgba(190, 240, 215, 0.9);
    box-shadow: 5px 5px 50px rgba(245, 243, 243, 0.9);
    border-radius: 5%;
    box-sizing: content-box;
    border: solid rgba(34, 33, 33, 0.8) 4px;
}

.extra {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#download {
    
    font-size: 1.4rem;
    background-color: rgb(239,240, 190,0.9);
    border-radius: 2%;
    margin-top: 0.5em;
    box-sizing: content-box;
    border: solid rgba(34, 33, 33, 0.8) 4px;
  
    
}


hr {
    border: solid rgba(130, 120, 120, 0.7) 0.2em;
    
}

.links {
    background-color: rgb(228, 228, 182, 0.9);
    max-width: 2em;
    max-height: 2em;
    object-fit: contain;
    margin: 0.2em;
    color: black;
    flex-wrap: wrap;
    border: solid rgb(50, 50, 50)2px;
}

.secRow {
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 20em;
    border: solid rgba(251, 251, 251) 2px;
    border-radius: 2%;
    background-color: rgba(104, 102, 102, 0.6);
 }


.bio {
    font: italic;
    white-space: wrap;
}
.thirdRow {
    display: flex;
   justify-content: space-evenly;
  margin: 1rem;
}

.thirdRow button {
    font-size: 1.5em;
    border-radius: 10%;
    
}

.thirdRow button:nth-child(1) {
    background-color: rgb(174, 213, 247,0.7);
    box-shadow: 10px 10px 5px rgba(191, 241, 233, 0.1);
    padding: 0.5em;
    border: solid rgb(255, 255, 255) 3px;
    
}

.thirdRow button:nth-child(2) {
    background-color: rgb(174, 213, 247,0.7);
    box-shadow: 10px 10px 5px rgba(212, 246, 212, 0.1);
    border: solid rgb(255, 255, 255) 3px;
    padding: 0.5em;
    margin-right: 10rem;
}


#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}




.fourthRow {
    display: flex;
    justify-content: center;
    margin-left: 15em;
    margin-right: 20em;
}

.fourthRow img {
    
    box-sizing: content-box;

    border-radius: 100%;
    max-width: 5em;
    max-height: 5em;
    object-fit: contain;
}

/* .space_img:nth-child(1) .space_img:nth-child(2) .space_img:nth-child(3)  {
    white-space: nowrap;
}
.space_img:nth-child(4) .space_img:nth-child(5) .space_img:nth-child(6) {

} */
.space_img {
    white-space: pre-line;
    
    
  
}
.cercle {
    box-shadow: 1em 1em 3em rgba(224, 218, 150, 0.5);
    box-sizing: content-box;
    margin-left: 2rem;
    margin-right: 2rem;
    
    background-color: azure;
    border: solid rgb(146, 140, 140) 4px;

}

.thumbnails {
    cursor: pointer;
     
    
    z-index:999; 
    transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out; 
    
     
}

.thumbnails:hover { 
    opacity: 0.4;
 }

progress {
    font-size: 2em;
    
    
    
}

#FR {
    max-width: 2rem;
    max-height: 2rem;
    object-fit: contain;
    border: solid rgb(11, 11, 11) 1px;
    
}

#EN {
    max-width: 2rem;
    max-height: 2rem;
    object-fit: contain;
    border: solid black 1px;
   
}

#PT {
    max-width: 2rem;
    max-height: 2rem;
    object-fit: contain;
    border: solid black 1px;
    
    
}

ul {
    box-shadow: 10px 10px 50px #817f7f;
    border: solid white 2px;
    background-color: rgba(90, 90, 90, 0.3);
    
}


dialog {
    background: linear-gradient(rgba(204, 231, 231, 0.9), rgba(44, 42, 42, 0.7));
    
}

dialog button {
    width: 4em;
    height: 3em;
    font: 1em sans-serif;
    border: solid rgb(109, 105, 105) 2px;
   
}
dialog h2 {
    
    box-sizing:content-box;
    max-width: fit-content;
    background-color: rgb(255, 215, 0, 0.6);
    border: solid black 2px;
}

.auto {
    line-break: auto;
    align-content: start;
  }
dialog .pop2 {
    position: relative;
    bottom: 3.5rem;
}
dialog .my-popover2 {
    display: flex;
    width: 25rem;
    flex-direction:row;
    max-width: fit-content;
    line-break: auto;
    justify-content: flex-start;
    margin: 1em;
}
dialog .available {
    max-width: 30rem;
}

dialog #same {
    margin: 1em;
    font: O.8em sans-serif;
    box-sizing: content-box;
    border: solid rgb(40, 40, 40, 0.5) 2px;
    position: relative;
    bottom: 3.5rem;
}

dialog #my-popover3{
    
   
    max-width: 100%;
    max-height: 35rem;
}
dialog .titlepop3, .pop3, .pop3h {
    color: #000000;
    position: relative;
    bottom: 4rem;
    
}
dialog .slider {
    display: flex;
    justify-content: center;
    max-width: 40rem;
    max-height: 100%;
    border: solid black 2px;
    background-color: rgb(22, 21, 21,0.5);
    color: #ffffff;
    position: relative;
    bottom: 5rem;
}
dialog label {
    font-size: 1.5rem;
}
dialog .slider  img {
    
    width: 30rem;
    height: 25rem;
    border: solid rgb(255, 255, 255) 2px;
}

dialog .slider button {
    align-items: baseline;
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: relative;
    top: 10rem;
   
    border: solid transparent;
}


dialog #close {
        border: solid black 3px;
        position: relative;
        left: 85%;
    }
dialog #close1 {
    border: solid black 3px;
    position: relative;
        left: 85%;
}
/* ########################################################################################################## */


@media screen and (max-width: 480px), (max-height: 900px) and (orientation: portrait)  {
    body {
        margin: 0;
        padding: 0;
        background-size: cover;
        background-attachment: local, scroll;
        background-image: linear-gradient(rgba(31, 31, 31, 0.8) , rgb(30, 29, 29,0.8)),
                        url(./Image/everaldo-coelho-qYdUUZVWiVY-unsplash.jpg);
       
        background-repeat: no-repeat;
        /* background-color: rgb(37, 37, 37); */
        color: rgba(255, 255, 255, 0.9);
       
        
        
    }
}

@media screen and (orientation: portrait)  {
    .container {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100vh;
        max-width: 100vw;
        display: grid;
        justify-items: start;
        font-size: 50%;
    
    }
 }

 @media screen and (max-width: 40rem) and (orientation: portrait)  {
    .firstRow {
        display: flex;
        
        flex-direction: row;
      
        border: solid transparent;
     
        font-size: 140%;
       margin: 1rem;
    }
    }
    @media screen and (orientation: portrait)  {
    .mediah2 {
        position: relative;
        top: 80%;
        right: 30%;

        font-size: 150%;
    }
}


    @media screen and (orientation: portrait)  {
    .profile {
        border-radius: 10%;
        font-size: 110%;
        border: solid rgb(128, 106, 128, 0.4) 3px;
        
        }
    }
    
    @media screen and (orientation: portrait)  {
        .englobe {
            display: flex;
          position: relative;
          right: 30%;
            flex-direction: column;
            border: solid rgb(230, 227, 227) 2px;
           
            background-color: rgba(117, 117, 115, 0.7);
            box-shadow: 10px 10px 10px rgb(106, 106, 106);;

            border-radius: 3%;
            }
        }

         @media screen and (orientation: portrait)  {
            .secRow {
                 visibility: hidden;
                
            }
            
          

            }

            @media screen and (orientation: portrait)  {
                .thirdRow {
                    display: flex;
                   justify-content: flex-start;
                    position: relative;
                    
                  
                }
                }
                
                @media screen  and (orientation: portrait)  {
                .thirdRow button {
                    margin: 2rem;
                    border-radius: 10%;
                   font-size: 3em;
                    
                  }
                }
                @media screen and (max-width: 30rem) and (orientation: portrait)  {
                    .thirdRow button:nth-child(2) {
                        background-color: rgb(174, 213, 247,0.7);
                        box-shadow: 10px 10px 5px rgba(212, 246, 212, 0.1);
                        border: solid rgb(255, 255, 255) 3px;
                       
                        
                       
                        }
                    }
                    @media screen and (orientation: portrait) {
                        .fourthRow {
                            display: flex;
                           
                            justify-content:flex-start;
                         position: relative;
                         right: 15%;
                        font-size: 180%;
                        
        
                          
                           
                        }
                        }
                        
@media screen and (orientation: portrait) {
    .mobile {
        position: relative;
      right: 50%;
        top: 110%;
    }
}
@media screen and (orientation: portrait)  {
    dialog {
        background: linear-gradient(rgba(209, 237, 235, 0.9), rgba(44, 42, 42, 0.9));
        height: 30rem;
        width: 30rem;
        position: relative;
        right: 9%;
    }
    dialog .available {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        position: relative;
        bottom: 1rem;
       
    }
   
    dialog h2 {
        font-size: 1.1rem;
        box-sizing:content-box;
        max-width: 60%;
        background-color: rgb(255, 215, 0, 0.6);
        border: solid black 2px;
    }
    dialog h3 {
        font-size: 1.1rem;
        box-sizing: content-box;
        background-color: #ffffff;
        max-width: 60%;
    }
    
    .auto {
        line-break: auto;
        align-content: start;
      }
    
    dialog .my-popover2 {
        display: flex;
        flex-direction:row;
        max-width: fit-content;
        line-break: auto;
        justify-content: flex-start;
        margin: 1em;
    }
   dialog .pop2 {
        position: relative;
        bottom: 5rem;
   }
    
    dialog #same {
        margin: 1em;
        font: O.8em sans-serif;
        box-sizing: content-box;
        border: solid rgb(40, 40, 40, 0.5) 2px;
    }
    
    dialog #my-popover3{
        display: grid;
        grid-template-columns: repeat(3 1fr 3fr 1fr);
        max-width: 40rem;
        max-height: 35rem;
    }
    
    dialog .slider {
        display: flex;
        justify-content: center;
        width: 26rem;
        max-height: 35rem;
        border: solid black 2px;
        background-color: rgb(22, 21, 21,0.5);
        color: #ffffff;
        position: relative;
        bottom: 20%;

        
        
        
    }
    dialog .slider  img {
        
        width: 25rem;
        height: 25rem;
        border: solid white 2px;
        
    }
    
    dialog .slider button {
        display: none;
    }
    dialog .pop3 {
        position: relative;
        bottom: 5rem;
        font-size: 1.2rem;
        width: 80%;
        color: #0e0602;
        max-width: 60%;
        box-sizing: content-box;
        background-color: aliceblue;
        border: solid black 2px;
    
    }
  
    dialog .pop3h {
        display: none;
    }
    dialog .titlepop3{
        position: relative;
        bottom: 5rem;
        font-size: 2rem;
        max-width: 30%;

    }
    dialog #pic1, #pic2, #pic3 {
      

    }
    dialog label {
        font-size: 1.5rem;
        
    }

    dialog #close {
            border: solid black 3px;
            width: 4rem;
            height: 4rem;
            font-size: 1rem;
            object-fit:100%;
            max-width: 100%;

           position: relative;
           left: 80%;
    }
    dialog #close1 {
        border: solid black 3px;
        
            width: 5rem;
            height: 4rem;
            font-size: 1.3rem;
            object-fit:100%;
            max-width: 100%;

           position: relative;
           left: 70%;
    }
    
    }


 @media screen and (orientation: portrait)  {
#contact {
   font-size: 1rem;
   height: 4rem;
    width: 6rem;
    background-color: rgba(208, 190, 240, 0.7);
    border-radius: 5%;
    box-sizing: border-box;
    margin-top: 0.5em;
    border: solid rgba(34, 33, 33, 0.8)  4px;
}
 }
 @media screen and (orientation: portrait)  {

#toggle {
   
    
    width: 4.5rem;
    background-color: rgba(190, 240, 215, 0.9);
    box-shadow: 5px 5px 50px rgba(245, 243, 243, 0.4);
    border-radius: 5%;
    box-sizing: content-box;
    border: solid rgba(34, 33, 33, 0.8) 4px;
}
 }
 @media screen  and (orientation: portrait)  {

.extra {
    display: none;
    
}
 }
 @media screen and (orientation: portrait)  {

#download {
    font-size: 1rem;
    width: 5rem;
    height: 3rem;
    background-color: rgb(239,240, 190,0.7);
    border-radius: 2%;
    margin-top: 0.5em;
    box-sizing: content-box;
    border: solid rgba(34, 33, 33, 0.8) 4px;
  
    
}
 }